
{% extends 'main.html' %}
{% block content %}

<h1>Projects Template</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisl eros, aliquam sed libero eu, feugiat porta
    neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce luctus ante
    odio, eget elementum nunc ultrices sed. Praesent tempus lorem interdum turpis venenatis euismod. Quisque vitae nisl
    dolor. Fusce sodales accumsan neque et interdum. Maecenas id ligula at mauris consequat interdum sit amet eu sapien.
    Aliquam finibus dapibus felis et consequat. Morbi sit amet fermentum augue, porttitor consequat odio. Nulla
    facilisi.
</p>

{% endblock content %}